# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
*.sublime-project
*.sublime-workspace
.vscode

# Dependency directories
node_modules/
vendor/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/dist
/build

# Logs
logs
*.log
npm-debug.log*
